.box_img_news{
    height: 100px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    border: solid 1px gray;
}
.list_img_news{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
    object-fit: fill;
    z-index: 0;
}
.btn_del_listimg{
    z-index: 9999999;
    position: absolute;
}
div.content{
    padding: 30px !important;
}

.h3-title{
    color: darkslategray;
    font-style:italic;

}
table th{
    color: rgb(95, 95, 95);
}
/* loading icon ====================================================*/
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal-loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
    display: block;
}